<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>picqer</name>
	<displayName><![CDATA[Picqer]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Online stock management en order picking with Picqer]]></description>
	<author><![CDATA[Mijn Presta]]></author>
	<tab><![CDATA[export]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
